.button {
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
.checkbox {
  cursor: pointer;
  outline: none;
}
.input {
  outline: none;
}
.link {
  font-weight: bold;
  cursor: pointer;
}
.body {
  background-color: #e8e8e8;
  margin: 0;
}
.main-window {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
@media all and (max-height: 600px) {
  .main-window {
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
@media all and (max-width: 320px) {
  .main-window {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}
.login-window {
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 840px;
  background-color: #fff;
  box-shadow: 0 2px 1.8px 0.2px rgba(0,0,0,0.25);
}
@media (max-width: 650px) {
  .login-window {
    min-width: 320px;
    max-width: 480px;
  }
}
.login-window__social-and-form-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 40px 0;
  background-color: #f3f3f3;
}
@media (max-width: 650px) {
  .login-window__social-and-form-wrapper {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    padding: 21px 0 0 0;
    -ms-flex-align: center;
        align-items: center;
  }
}
.greeting {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.login-window__header {
  box-sizing: border-box;
  height: 87px;
  line-height: 87px;
  width: 100%;
  border-top: 2px solid #e62b1e;
  position: relative;
}
.login-window__title {
  font-size: 31px;
  color: #333;
  text-align: center;
  margin: 0;
}
.login-window__exit-button {
  background-image: url(pics/icons/close.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-color: transparent;
  width: 14px;
  height: 14px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}
@media all and (max-width: 650px) {
  .login-window__exit-button {
    margin: 10px;
  }
}
.login-window__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  width: 50%;
}
@media all and (max-width: 650px) {
  .login-window__social {
    padding: 25px 0;
    width: 300px;
  }
}
.login-window__social-login-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0;
}
.login-window__social-login-button:first-child {
  margin-bottom: 20px;
}
.facebook-logo {
  margin-left: 15px;
  height: 22px;
  filter: invert(1);
}
.google-plus-logo {
  margin-left: 15px;
  height: 31px;
  filter: invert(1);
}
.button__value {
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: center;
}
.facebook {
  background-color: #3e5b96;
}
.google-plus {
  background-color: #dd5342;
}
.login-window__form-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -ms-flex-pack: center;
      justify-content: center;
  border-left: 1px solid #cfcfcf;
}
@media all and (max-width: 650px) {
  .login-window__form-container {
    border-left: none;
    border-bottom: 1px solid #cfcfcf;
    width: 300px;
  }
}
.login-window__form {
  width: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 650px) {
  .login-window__form {
    margin-bottom: 24px;
  }
}
.login-window__label {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  position: relative;
}
.login-window__label::after {
  content: attr(data-validity-msg);
  position: absolute;
  font-size: 10px;
  left: 0;
  top: 64px;
}
.login-window__input {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  margin-bottom: 24px;
  margin-top: 7px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0;
  padding-left: 10px;
}
.login-window__checkbox-remember-me {
  margin: 0 7px 0 0;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 3px;
  background-color: #dedede;
  border: 1px solid #b2b2b2;
  position: relative;
}
.login-window__checkbox-remember-me:checked {
  background-color: #3b99fc;
  border: 1px solid #2c91fc;
}
.login-window__checkbox-remember-me:checked::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  top: 1.5px;
  left: 1px;
  transform: rotate(-45deg);
}
.login-window__link {
  color: #656565;
  margin-top: 24px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.login-window__link:hover {
  color: #444;
}
.login-window__log-in-button {
  border-radius: 3px;
  background-color: #252525;
  font-size: 14px;
  color: #fff;
  border: none;
  padding: 12px 30px;
  margin-top: 24px;
}
.login-window__log-in-button:hover {
  background-color: #666;
}
.login-window__link_size_s {
  font-size: 14px;
}
.login-window__label_width_max {
  width: 100%;
}
.login-window__label_align-content_middle {
  display: -ms-flexbox;
  display: flex;
  line-height: 10px;
}
.link-window__label_no-valid-value {
  color: #b21913;
}
.login-window__input_no-valid-value {
  border-color: #b21913;
}
.login-window__footer {
  width: 100%;
  text-align: center;
  height: 87px;
  line-height: 87px;
}
@media all and (max-width: 650px) {
  .login-window__footer {
    height: 85px;
    line-height: 85px;
  }
}
.login-window__footer_sign-up {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  color: #666;
  font-size: 18px;
}
.login-window__footer_link {
  color: #000;
}
.login-window__footer_link_size_m {
  font-size: 18px;
}
