include __header/login-window__header.pug
div.login-window__social-and-form-wrapper
  include __social/login-window__social.pug
  include __form-container/login-window__form-container.pug
include __footer/login-window__footer.pug