div.login-window__social  
  button(class="button login-window__social-login-button facebook") 
    img(class="facebook-logo", src=require("../../pics/icons/facebook-logo.svg"))
    p.button__value 
      | Log in with Facebook
  button(class="button login-window__social-login-button google-plus") 
    img(class="google-plus-logo", src=require("../../pics/icons/google-plus.svg"))
    p.button__value 
      | Log in with Google +
    